:root {
    --background: #dedede;
    --text: #000000;
    --dark-cyan: darkcyan;
    --logo-color: #ec008c;
    --bajaj-logo-color: #2e3192;
}
body {
    font-family: "Lato", sans-serif;
}

.top-bar,
.side-bar {
    background-color: var(--background);
}

.side-bar {
    height: 100vh;
}

.logo {
    text-align: center;
}
.logo img {
    width: 30%;
}
.waw-menu {
    margin-top: 20px;
    padding-left: 0;
    height: 80vh;
    overflow-y: auto;
}
.waw-menu-item,
.waw-menu-item a {
    color: var(--text);
    list-style: none;
    text-decoration: none;
    padding: 5px;
    background: #cfcfcf;
    margin: 1px 0;
    border-radius: 5px;
    font-weight: 600;
    position: relative;
    width: 100%;
    display: inline-block;
}
.waw-menu-item:hover {
    background: #c5c5c5;
}
.waw-menu-item a:hover {
    color: var(--dark-cyan);
}
.waw-menu-item i,
.waw-menu-item a i {
    color: var(--dark-cyan);
    padding-right: 8px;
}
.waw-dropdown li {
    list-style: none;
    border-bottom: 1px solid #dedede;
}
.waw-dropdown li:last-child {
    border-bottom: none;
}
.waw-dropdown li a {
    font-size: 14px;
}
.waw-menu-item-right-icon {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}
.waw-menu-item.active {
    background: #c5c5c5;
}
.waw-menu-item.active a {
    color: var(--dark-cyan);
}
.app_config {
    font-size: 10px;
}
.waw-menu::-webkit-scrollbar {
    width: 2px;
}
.waw-menu::-webkit-scrollbar-track {
    background: #f1f1f1;
}
.waw-menu::-webkit-scrollbar-thumb {
    background: var(--dark-cyan);
}
.waw-menu::-webkit-scrollbar-thumb:hover {
    background: #555;
}
